body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.tribute-page {
    
    text-align: center;
    background-color: #eee;
    padding: 60px 30px 50px 30px;
    border-radius: 10px;
    margin: 30px 0;
}

.heading {
    font-size: 60px;
    margin-bottom: 30px;
}

.heading-text {
    font-size: 22px;

}

.img-section {
    background-color: white;
    margin: 0;
}
.img-caption {
    line-height: 53px;
}
.h2 {
    font-size: 20px;
    padding: 40px 30px 10px 30px;
}

.unordered {
    max-width: 700px;
    margin: 50px auto 0;
}

.list-item {
    text-align: left;
    font-size: 17px;
    line-height: 170%;
    margin: 20px;
}

.quote {
    font-size: 18px;
    line-height: 100%;
    font-style: italic;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    
}

blockquote {
    padding: 25px;

}





